<h2>{{ appSettings.title }}</h2>
Filter: <input type="text" ng-model="customerFilter.name" />
<br /><br />
<div style="background-color: rgba(177, 177, 177, 0.6); padding-top: 2rem; padding-bottom: 2rem;">
    <div class="card" style="max-width: 80%; margin: auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.347);">
        <div class="card-body" >
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">
                        <tr>
                            <th ng-click="doSort('name')">Name</th>
                            <th ng-click="doSort('city')">City</th>
                            <th ng-click="doSort('orderTotal')">Order Total</th>
                            <th ng-click="doSort('joined')">Joined</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse" class="repeat-animation">
                            <td>{{ cust.name }}</td>
                            <td>{{ cust.city }}</td>
                            <td>{{ cust.orderTotal | currency }}</td>
                            <td>{{ cust.joined | date }}</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-primary">
                                        <a href="#/orders/{{ cust.id }}" style="color: #fff;">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                   </button>
                                    
                                   <button type="button" class="btn btn-danger" ng-click="deteleCustomer(cust.id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                   </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<span>Total customers: {{ customers.length }}</span>

<br>
<br>
<footer>
    <div>
        <span>
            Version: 
            <strong>
                {{ appSettings.version }}
            </strong>
        </span>
    </div>
</footer>